# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private


# Ignore the sass cache file
sites/*/themes/*/.sass-cache

# Ignore the error log
error_log

# Ignore the .DS_Store file
.DS_Store
**/**/.DS_Store
