.field-collection-container {
  border-bottom: 0px;
  margin-bottom: 0px;
  .field-collection-view {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    .field-collection-item-field-mini-blocks {
      padding: 40px;
      text-align: center;
      .field-name-field-icon {
        margin-bottom: 30px;
        img {

        }
      }
      .field-name-field-title {
        color: white;
        font-size: $medium_font_size_xs;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .field-name-field-description {
        text-align: initial;
        font-size: $small_font_size_xs;
        line-height: $line_height;
        color: white;
        font-weight: bold;
      }
      .field-name-field-background-color {
        display: none;
      }
      &.transparent {
        background-color: transparent;
        .field {
          color: $dark_grey;
          &.field-name-field-title {
            color: $blue;
          }
        }
      }
      &.white {
        background-color: $white;
        .field {
          color: $medium_dark_blue;
        }
      }
      &.extra_light_grey {
        background-color: $extra_light_grey;
        .field {
          color: $black;
        }
      }
      &.light_grey {
        background-color: $light_grey;
        .field {
          color: $black;
        }
      }
      &.dark_grey {
        background-color: $dark_grey;
        .field {
          color: $white;
        }
      }
      &.black {
        background-color: $black;
        .field {
          color: $white;
        }
      }
      &.light_blue {
        background-color: $light_blue;
      }
      &.blue {
        background-color: $blue;
      }
      &.medium_dark_blue {
        background-color: $medium_dark_blue;
      }
      &.dark_blue {
        background-color: $dark_blue;
        .field-name-field-title {
          color: white;
        }
      }
      @media screen and (min-width: $screen-sm) {
        .field-name-field-title {
          font-size: $medium_font_size_sm;
        }
        .field-name-field-description {
          font-size: $small_font_size_sm;
        }
      }
      @media screen and (min-width: $screen-md) {
        .field-name-field-title {
          font-size: $medium_font_size_md;
        }
        .field-name-field-description {
          font-size: $small_font_size_md;
        }
      }      
      @media screen and (min-width: $screen-lg) {
        .field-name-field-title {
          font-size: $medium_font_size_lg;
        }
        .field-name-field-description {
          font-size: $small_font_size_lg;
        }
      }
    } 
  }
}

/**
* Quote field collection
***/
.field-collection-item-field-quote {
  @extend .row;
  border-top: 3px dotted $grey;
  border-bottom: 3px dotted $grey;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 10px 0;
  color: $dark_grey;
  font-size: $xsmall_font_size;
  .group-left {
    @extend .col-sm-3;
  }
  .group-right {
    @extend .col-sm-9;
  }
  .field-name-field-quote-avator {
    img {
      width: 100%;
      height: auto;
    }
  }
  .field-name-field-quote-text {
    font-size: $xsmall_font_size;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
  }
  .field-name-field-quote-author {
    text-align: right;
    font-weight: bold;
  }
}

.field-collection-item-field-sidebar-quote {
  font-size: $xsmall_font_size;
  color: $dark_grey;
  .field-name-field-quote-avator {
    img {
      width: 100%;
      height: auto;
    }
  }
  .field-name-field-quote-text {
    font-size: $xsmall_font_size;
    font-weight: 600;
    font-style: italic;
    margin: 20px 0;
    line-height: 1.5;
  }
  .field-name-field-quote-author {
    font-size: $xsmall_font_size;
    font-weight: bold;
    font-style: italic;
  }  
}