// Global variables
$image-directory: 'img/';
$social-icon-background: #999;
$sans-serif: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$serif: 'Georgia', 'Times New Roman', 'Times', serif;

// Colors
$header_black: #2c2c2c; 
$medium_dark_grey: #5a5b5c;
$dark_grey: #4a4a4c;
$light_grey: #bcbec0;
$xlight_grey: #e9e9ea;

$orange_red: #ef4623;
$white_grey: #f5f5f5;

/****/
$black: #000000;
$white: #ffffff;

$extra_light_grey: #f5f5f5;
//$light_grey: #eeeeee;
$medium_grey: #B2C3CB;
$grey: #999999;
//$dark_grey: #333333;
$content_grey: #737577;

$bg_blue: #72AFD8;
$block_title_blue: #21529d;
$light_blue: #4cceff;
$blue: #00b1f0;
$medium_dark_blue: #0970b8;
$dark_blue: #21529d;


$maxPixelRatio: 3;
$mobileWidth: 500px;

.center {
	text-align: center;
}
.bg-grey {
	background: $grey;
}
.bg-light_grey {
	background: $light_grey;
}
.padding-left-10-percent {
	padding-left: 10%;
}
.padding-right-10-percent {
	padding-right: 10%;
}
.padding-top-20px {
	padding-top: 20px;
}
.padding-bottom-20px {
	padding-bottom: 20px;
}

//section
.section-title {
  position:relative;
	font-size: 20px;
	color: $white;
	padding: 12px;
	text-transform: uppercase;
	text-align: center;
	&::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 20px $blue;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
}

.section-title-no-arrow {
	@extend .section-title;
	&::after {
		display: none;
	}
}