@import '../../bootstrap-sass/bootstrap'; //Bootstrap
@import 'includes/variables', 'includes/typography', 'includes/buttons', 'includes/mixins', 'includes/mobile-nav', 'includes/bugfixes', 'includes/views', 'includes/menu', 'includes/field_collection', 'includes/carousel', 'includes/bean', 'includes/block';

.tabs--primary {
	margin-bottom: 20px;
}

#page-header {
	background: url("img/background/header_bg.png") repeat 0 0 transparent;
	padding: 20px 0;
	top: 0px;
	z-index: 100;
	width: 100%;
	position: fixed;
  border-bottom: 30px solid $orange_red;
	@media screen and (max-width: $screen-lg) {
		position: relative;
	}
	.logo-section {
		display: table;
		max-width: 100%;
		width: 100%;
		height: 50px;
		a.logo {
			display: table-cell;
			vertical-align: middle;
			img {
				width: 100%;
				max-width: 360px;
			}
		}	
	}
	&.black_bg {
		background: #2c2c2c;
	}
	@media screen and (min-width: $screen-sm) {
		.logo-section {
			height: 50px;
		}		
	}
	@media screen and (min-width: $screen-md) {
		.logo-section {
			height: 50px;
		}								
	}      
	@media screen and (min-width: $screen-lg) {
		.logo-section {
			height: 60px;
		}						
	}
}

body {
	&.front {
		#page-header {
			border: 0px;
		}
		.page-content {
			@media screen and (min-width: $screen-md-max) {
				margin-top: 70px;
			}      
		}
		.btn_with_arrow_with_orange_bk {
			font-size: 26px;
			letter-spacing: -2px;
		}
	}
}

.slicknav_menu {
	display: none!important;
}

.page-content {
	@media screen and (min-width: $screen-md-max) {
		margin-top: 130px;
	}      
}

/**
 *	Disable the fixed header for login users.
 ****/
.nav-second-region-wrapper {
	background: $light_grey;
  @media screen and (max-width: $screen-sm) {
		display: none;      
  }	
}
.above-content-region-wrapper {
	
}
.highlighted.jumbotron {
	background: white;
	padding: 30px;
}

.breadcrumb {
	margin-bottom: 0px;
	display: none;
}

.page-header {
	text-align: center;
	color: $orange_red;	
	margin-bottom: 5px;
	display: none;
}
.above-content-region-wrapper {
  .entity-bean {
    > .content {
      @extend .container;
    }
  }
}

.content-container {
	margin-top: 30px;
}

.page-solutions .content-container, 
.page-services .content-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

/**
*	Below content region
**/
.below-content-region-wrapper {
	background-color: $light_grey;
	.block {
    @extend .container;
  }
}
.region-content {
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url("img/background/footer_bg.png") repeat 0 0 $white;
	margin-top: 50px;
	border: 0px;
	position: relative;
	z-index: 999;
	.footer-content {
		a.logo {
			img {
				width: 100%;
				height: auto;
			}
		}
		.col-sm-6 {
			height: 60px;
		}
		@media screen and (min-width: $screen-sm) {
			a.logo {
				img {
					
				}
			}
		}
		.region-footer {
			text-align: right;
		}
	}
}

.field-name-field-share {
	&.field-type-addthis {
		display: none;
	}
}

// Tell us Link and Share link 
.tell-us-link {
	&.share-link {
		float: left;
		.tell_us {
			margin-right: 50px;
		}
	}
}

//hide search form on result page
.page-search {
	&.page-search-node {
		.search-form {
			display: none;
		}
	}
}

@import 'includes/node', 'includes/home', 'includes/blog', 'includes/style-guide';