/**
* Banner block
**/
.bean-banner-block {
  position: relative;
  .field-name-field-banner-block-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .field-name-field-banner-block-banner {
    @extend .container;
    padding: 15px;
    background: url("img/background/black_transparent_bg.png") repeat center center $black;
    .field-items {
      .field-item {
        @extend h2;
        font-size: $xlarge_font_size_xs;
        font-weight: 300;
        line-height: $line_height;
        color: $white;
      }      
    }
  }
  @media screen and (min-width: $screen-sm) {
    .field-name-field-banner-block-banner {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0px;
      width: 100%;
      background-color: transparent;
      .field-items {
        .field-item {
          font-size: $xlarge_font_size_sm;
        }      
      }
    }
  }
  @media screen and (min-width: $screen-md) {
    .field-name-field-banner-block-banner {
      padding: 40px;
      .field-items {
        .field-item {
          font-size: $xlarge_font_size_md;
        }      
      }
    }
  }
  @media screen and (min-width: $screen-lg) {
    .field-name-field-banner-block-banner {
      .field-items {
        .field-item {
          font-size: $xlarge_font_size_lg;
        }
      }  
    }
  }
}
/***
 *
 * Mini Block With Icon Bean
 *
 **/  
.bean-mini-blocks-with-icons {
  text-align: center;
  padding: 30px 0;
  .field-name-field-headline {
    @extend h2;
    font-size: $xlarge_font_size_xs;
    font-weight: 300;
    line-height: $line_height;
    margin-top: 40px;
    margin-bottom: $h2_margin_bottom;
  }
  .field-name-field-mini-blocks-description {
    font-size: $medium_font_size_xs;
    font-weight: normal;
    line-height: $line_height_lg;
    margin-bottom: 20px;
  }
  .field-collection-item-field-mini-blocks {
    padding: 20px;
  }
  .field-name-field-mini-blocks {
    margin-bottom: 30px;
  }
  .field-name-field-cta-link {
    margin: 0 0 30px;
  }
  &.bg_color_white {
    background-color: $white;
  }
  &.bg_color_extra_light_grey {
    background-color: $extra_light_grey;
  }
  &.bg_color_light_grey {
    background-color: $light_grey;
  }
  &.bg_color_grey {
    background-color: $grey;
  }
  &.bg_color_medium_dark_grey {
    background-color: $medium_dark_grey;
  }
  &.bg_color_dark_grey {
    background-color: $dark_grey;
    .field-collection-container .field-collection-view .field-collection-item-field-mini-blocks.transparent .field {
      color: $white;
    }
  }
  &.bg_color_black {
    background-color: $black;
    .field-collection-container .field-collection-view .field-collection-item-field-mini-blocks.transparent .field {
      color: $white;
    }
  }
  &.bg_color_light_blue {
    background-color: $light_blue;
  }
  &.bg_color_blue {
    background-color: $blue;
    .field-collection-container .field-collection-view .field-collection-item-field-mini-blocks.transparent .field {
      color: $white;
    }
  }
  &.bg_color_medium_dark_blue {
    background-color: $medium_dark_blue;
    .field-collection-container .field-collection-view .field-collection-item-field-mini-blocks.transparent .field {
      color: $white;
    }
  }
  &.bg_color_dark_blue {
    background-color: $dark_blue;
    .field-collection-container .field-collection-view .field-collection-item-field-mini-blocks.transparent .field {
      color: $white;
    }
  }
  &.headline_black {
    .field-name-field-headline {
      color: $black;
    }
  }
  &.headline_white {
    .field-name-field-headline {
      color: $white;
    }
  }
  &.headline_light_blue {
    .field-name-field-headline {
      color: $light_blue;
    }
  }
  &.headline_blue {
    .field-name-field-headline {
      color: $blue;
    }
  }
  &.headline_medium_dark_blue {
    .field-name-field-headline {
      color: $medium_dark_blue;
    }
  }
  &.headline_dark_blue {
    .field-name-field-headline {
      color: $dark_blue;
    }
  }
  &.headline_white_grey {
    .field-name-field-headline {
      color: $white_grey;
    }
  }

  &.headline_bg_transparent {

  }
  &.headline_bg_white {
    .field-name-field-headline {
      @extend .section-title-no-arrow;
      background-color: $white;
    }
  }
  &.headline_bg_black {
    @extend .headline_bg_white;
    .field-name-field-headline {
      background-color: $black;
    }
  }
  &.headline_bg_light_blue {
    @extend .headline_bg_white;
    .field-name-field-headline {
      background-color: $light_blue;
    }
  }
  &.headline_bg_blue {
    @extend .headline_bg_white;
    .field-name-field-headline {
      background-color: $blue;
    }
  }
  &.headline_bg_medium_dark_blue {
    @extend .headline_bg_white;
    .field-name-field-headline {
      background-color: $medium_dark_blue;
    }
  }
  &.headline_bg_dark_blue {
    @extend .headline_bg_white;
    .field-name-field-headline {
      background-color: $dark_blue;
    }
  }
  &.col_1 {
    .field-name-field-mini-blocks {
      > .field-items {
        @extend .row;
        > .field-item {
          @extend .col-sm-12;
        }
      }
    }
  }
  &.col_2 {
    .field-name-field-mini-blocks {
      > .field-items {
        @extend .row;
        > .field-item {
          @extend .col-sm-6;
        }
      }
    }
  }
  &.col_3 {
    .field-name-field-mini-blocks {
     >  .field-items {
        @extend .row;
      >   .field-item {
          @extend .col-sm-4;
        }
      }
    }
  }
  &.col_4 {
    .field-name-field-mini-blocks {
      > .field-items {
        @extend .row;
        > .field-item {
          @extend .col-sm-6;
          @extend .col-md-3;
        }
      }
    }
  }
  
  &.without_gutter {
    .field-name-field-headline {
      margin-bottom: 10px;
    }
    .field-name-field-mini-blocks {
      > .field-items {
        margin: 0px;
        > .field-item {
          padding: 0px;
        }
      }
    }    
  }
  &.icon_size_small {
    .field-name-field-icon {
      img {
        width: 60px;
        height: auto;
      }
      .img-responsive {
        margin: 0 auto;      
      }
    }
    &.mini_blocks_style_icon_overlay {
      .field-collection-item-field-mini-blocks {
        margin-top: 50px;
        .field-name-field-icon {
          margin-top: -50px;          
        }
      }
    }
  }
  &.icon_size_big {
    .field-name-field-icon {
      img {
        width: 130px;
        height: auto;
      }
      .img-responsive {
        margin: 0 auto;      
      }        
    }
    &.mini_blocks_style_icon_overlay {
      .field-collection-item-field-mini-blocks {
        margin-top: 85px;
        .field-name-field-icon {
          margin-top: -85px;          
        }
      }
    }
  }
  &.mini_blocks_style_icon_overlay {
    .field-name-field-mini-blocks {
      .field-collection-item-field-mini-blocks {
        padding: 20px;
        border: 1px solid $medium_grey;
        .field-name-field-icon {

        }
      }
    }
    @media screen and (min-width: $screen-sm) {
      .field-name-field-mini-blocks {
        .field-collection-item-field-mini-blocks {
          padding: 15px;
          //min-height: 200px;
        }          
      }
    }
    @media screen and (min-width: $screen-md) {

    }      
    @media screen and (min-width: $screen-lg) {
      .field-name-field-mini-blocks {
        .field-collection-item-field-mini-blocks {
        }          
      }
    }      
  }
  &.cta_link_style_blue_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .blue_bold_btn_with_arrow;
      }
    }
  }
  &.cta_link_style_medium_dark_blue_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .medium_dark_blue_bold_btn_with_arrow;
      }
    }
  }
  &.cta_link_style_dark_blue_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .dark_blue_bold_btn_with_arrow;
      }
    }
  }
  &.cta_link_style_blue_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .blue_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }  
  }
  &.cta_link_style_medium_dark_blue_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .medium_dark_blue_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }  
  }
  &.cta_link_style_dark_blue_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .dark_blue_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }    
  }
  &.cta_link_style_orange_red_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .orange_red_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }    
  }
  &.cta_link_style_orange_red_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .orange_red_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }    
  }

  @media screen and (min-width: $screen-sm) {
    .field-name-field-headline {
      font-size: $xlarge_font_size_sm;
    }
    .field-name-field-mini-blocks-description {
      font-size: $medium_font_size_sm;
    }
    .field-name-field-mini-blocks {
      .field-collection-item-field-mini-blocks {
        padding: 15px;
        //min-height: 260px;            
      }          
    }
  }
  @media screen and (min-width: $screen-md) {
    .field-name-field-headline {
      font-size: $xlarge_font_size_md;
    }
    .field-name-field-mini-blocks-description {
      font-size: $medium_font_size_md;
    }
  }      
  @media screen and (min-width: $screen-lg) {
    .field-name-field-headline {
      font-size: $xlarge_font_size_lg;
    }
    .field-name-field-mini-blocks-description {
      font-size: $medium_font_size_lg;
    }
    .field-name-field-mini-blocks {
      .field-collection-item-field-mini-blocks {
        //min-height: 300px;            
      }          
    }
  }

}

/***
 *
 * Color Block Bean
 *
 **/

.bean-color-block {
  text-align: center;
  padding: 40px 0;
  > .content {
    @extend .container;
  }
  .field-name-field-color-block-headline {
    @extend h2;
    font-size: $xlarge_font_size_xs;
    line-height: $line_height;
    font-weight: 300;
    margin-bottom: $h2_margin_bottom;
  }
  .field-name-field-color-block-description {
    font-size: $medium_font_size_xs;
    line-height: $line_height_lg;
    margin-bottom: 30px;
  }
  .field-name-field-cta-link {
    margin: 0 0 30px;
  }
  &.description_color_white {
    .field-name-field-color-block-description {
      color: $white;
    }
  }
  &.description_color_grey {
    .field-name-field-color-block-description {
      color: $content-grey;
    }
  }
  &.description_color_black {
    .field-name-field-color-block-description {
      color: $black;
    }
  }
  &.headline_black {
    .field-name-field-color-block-headline {
      color: $black;
    }
  }
  &.headline_white {
    .field-name-field-color-block-headline {
      color: $white;
    }
  }
  &.headline_light_blue {
    .field-name-field-color-block-headline {
      color: $light_blue;
    }
  }
  &.headline_blue {
    .field-name-field-color-block-headline {
      color: $blue;
    }
  }
  &.headline_medium_dark_blue {
    .field-name-field-color-block-headline {
      color: $medium_dark_blue;
    }
  }
  &.headline_dark_blue {
    .field-name-field-color-block-headline {
      color: $dark_blue;
    }
  }
  &.headline_dark_blue {
    .field-name-field-color-block-headline {
      color: $dark_blue;
    }
  }
  &.headline_orange_red {
    .field-name-field-color-block-headline {
      color: $orange_red;
    }
  }
  &.bg_color_white {
    background-color: $white;
  }
  &.bg_color_extra_light_grey {
    background-color: $extra_light_grey;
  }
  &.bg_color_light_grey {
      background-color: $light_grey;
  }
  &.bg_color_grey {
      background-color: $grey;
  }
  &.bg_color_dark_grey {
      background-color: $dark_grey;
  }
  &.bg_color_black {
      background-color: $black;
  }
  &.bg_color_light_blue {
      background-color: $light_blue;
  }
  &.bg_color_blue {
      background-color: $blue;
  }
  &.bg_color_medium_dark_blue {
      background-color: $medium_dark_blue;
  }
  &.bg_color_dark_blue {
      background-color: $dark_blue;
  }
  &.cta_link_style_blue_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .blue_bold_btn_with_arrow;
      }
    }
  }
  &.cta_link_style_medium_dark_blue_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .medium_dark_blue_bold_btn_with_arrow;
      }
    }
  }
  &.cta_link_style_dark_blue_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .dark_blue_bold_btn_with_arrow;
      }
    }
  }
  &.cta_link_style_blue_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .blue_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }  
  }
  &.cta_link_style_medium_dark_blue_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .medium_dark_blue_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }  
  }
  &.cta_link_style_dark_blue_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .dark_blue_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }    
  }
  &.cta_link_style_orange_red_bg_white_font {
    .field-name-field-cta-link {
      a {
        @extend .orange_red_bold_btn_with_arrow;
        border: 2px solid $white;

      }
    }    
  }
  &.cta_link_style_orange_red_bg_white_font_with_border {
    .field-name-field-cta-link {
      a {
        @extend .orange_red_bold_btn_with_arrow;
        border: 2px solid $white;
      }
    }    
  }

  @media screen and (min-width: $screen-sm) {
    .field-name-field-color-block-headline {
      font-size: $xlarge_font_size_sm;
    }
    .field-name-field-color-block-description {
      font-size: $medium_font_size_sm;
    }
  }
  @media screen and (min-width: $screen-md) {
    .field-name-field-color-block-headline {
      font-size: $xlarge_font_size_md;
    }
    .field-name-field-color-block-description {
      font-size: $medium_font_size_md;
    }
  }      
  @media screen and (min-width: $screen-lg) {
    .field-name-field-color-block-headline {
      font-size: $xlarge_font_size_lg;
    }
    .field-name-field-color-block-description {
      font-size: $medium_font_size_lg;
    }
  }
}
