
.node-carousel {
	position: relative;
	margin-left: 0px;
	.field-name-carousel-text {
		position: absolute;
		top: 15%;
		left: 35%;
		width: 35%;
		color: white;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		text-shadow: 1px 1px 1px $black;
		.carousel_text_title {

		}
		.carousel_text_body {
			font-size: 30px;
			line-height: 36px;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		.carousel_text_cta_link {
			a {
				@extend .dark_blue_bold_btn;
				font-size: 18px;
			}
		}
    @media screen and (max-width: $screen-md) {
			position: relative;
			top: 0;
			left: 0;
			padding: 5%;
			width: 100%;
			background: $light_blue;
			.carousel_text_cta_link {
				text-align: center;
				a {
					font-size: 14px;
				}
			}
    }
	}
	.views-field-body {
		@extend .field-name-carousel-text;
	}
}

#block-views-image-carousel-block {
	.flexslider_views_slideshow_slide {
		position: relative;
		margin-left: 0px;
		.views-field {
			
			&.views-field-field-image {

			}
			&.views-field-body {
				position: absolute;
				top: 0;
				left: 10%;
				width: 80%;
				color: white;
				font-weight: bold;
				font-size: 60px;
				line-height: $line_height_a;
				text-align: center;
				height: 100%;
				.field-content {
					height: 100%;
					min-height: 100%;
					display: table;
					max-width: $screen-lg;
					margin: 0 auto;
					a {
						display: table-cell;
						color: $white;
						vertical-align: middle;
						&:hover {
							text-decoration: none;
							color: $dark_blue;
						}
					}
					.carousel-text {
						display: table-cell;
						color: $white;
						vertical-align: middle;
						font-weight: bold;
					}
				}
				@media screen and (max-width: $screen-sm) {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					margin-top: 0px;
					font-size: 20px;
					.field-content {
						height: auto;
						display: block;
						background: $orange_red;
						a {
							color: $white;
							display: block;
						}
						.carousel-text {
							padding: 20px 10px;
							display: inline-block;		
							text-align: center;				
						}
					}
				}
				@media screen and (min-width: $screen-sm) {
					font-size: $large_font_size;
				}
				@media screen and (min-width: $screen-md) {
					font-size: $xlarge_font_size;
				}
				@media screen and (min-width: $screen-lg) {
					font-size: $xxlarge_font_size;
				}
			}
		}
	}
	.flex-direction-nav {
		.flex-prev, .flex-next {
			margin-top: 30px;
		}
		@media screen and (max-width: 239px) {
			.flex-prev, .flex-next {
				margin-top: -20px;
				top: 24%;
			}
		}
		@media screen and (min-width: 240px) and (max-width: 359px) {
			.flex-prev, .flex-next {
				margin-top: -20px;
				top: 30%;
			}
		}
		@media screen and (min-width: 360px) and (max-width: $screen-xs) {
			.flex-prev, .flex-next {
				margin-top: -20px;
				top: 35%;
			}
		}
		@media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
			.flex-prev, .flex-next {
				margin-top: -20px;
				top: 45%;
			}
		}
	}
}

.flexslider {
	margin-bottom: 0px;
	border: 0px;
	.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 50px;
    z-index: 100;
    &.flex-control-paging {
    	right: 45%;
    	height: 20px;
    	text-align: right;
    	font-size: 0px;
			li {
			  a {
			  	width: 20px;
			  	height: 20px;
			  	border: 3px solid $white;
			  	display: block;
				  background: $white;
				  border-radius: 50px;
					@include box-shadow(none);
					content: '';
					text-indent: -9999px;
					font-size: 0px;
					float: left;
			  	&.flex-active {
			  		background: $header_black;
				  }
			  }
			}
		}
		@media screen and (max-width: $screen-sm) {
			display: none;
		}
	}
	.flex-direction-nav {
		.flex-prev {
			background: url("img/buttons/arrow_white_left.png") no-repeat center center transparent;
			text-indent: -999px;
			font-size: 0px;
			&:before {
				display: none;
			}
		}
		.flex-next {
			@extend .flex-prev;
			background-image: url("img/buttons/arrow_white_right.png");
		}
		@media screen and (max-width: $screen-sm) {
			.flex-prev,
			.flex-next {
				display: block;
			}
		}
	}
	.flex-pauseplay {
		display: none;
	}

}