@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800,300italic,600italic,700italic,800italic);
/*
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
*/
/* Variable to use for font declarations */
$source_sans_pro: Source Sans Pro, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$open_sans: Open Sans, Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;


$font_lg_pct: 0.8;
$font_md_pct: 0.7;
$font_sm_pct: 0.65;
$font_xs_pct: 0.65;

/**Base Font Size***/
$xxlarge_font_size:	64px;
$xlarge_font_size: 	62.5px;
$large_font_size: 	32px;
$medium_font_size:	24px;
$small_font_size: 	18px;
$xsmall_font_size:  16px;
$xxsmall_font_size: 14px;

/**Large Screen Font Size***/
$xxlarge_font_size_lg:	$xxlarge_font_size * $font_lg_pct;
$xlarge_font_size_lg: 	$xlarge_font_size * $font_lg_pct;
$large_font_size_lg: 		$large_font_size * $font_lg_pct;
$medium_font_size_lg:		$medium_font_size * $font_lg_pct;
$small_font_size_lg: 		$small_font_size * $font_lg_pct;
$xsmall_font_size_lg: 	$xsmall_font_size * $font_lg_pct;

/**Medium Screen Font Size***/
$xxlarge_font_size_md:	$xxlarge_font_size * $font_md_pct;
$xlarge_font_size_md: 	$xlarge_font_size * $font_md_pct;
$large_font_size_md: 		$large_font_size * $font_md_pct;
$medium_font_size_md:		$medium_font_size * $font_md_pct;
$small_font_size_md: 		$small_font_size * $font_md_pct;
$xsmall_font_size_md: 	$xsmall_font_size * $font_md_pct;

/**Small Screen Font Size***/
$xxlarge_font_size_sm:	$xxlarge_font_size * $font_sm_pct;
$xlarge_font_size_sm: 	$xlarge_font_size * $font_sm_pct;
$large_font_size_sm: 		$large_font_size * $font_sm_pct;
$medium_font_size_sm:		$medium_font_size * $font_sm_pct;
$small_font_size_sm: 		$small_font_size * $font_sm_pct;
$xsmall_font_size_sm: 	$xsmall_font_size * $font_sm_pct;

/**XSmall Screen Font Size***/
$xxlarge_font_size_xs:	$xxlarge_font_size * $font_xs_pct;
$xlarge_font_size_xs: 	$xlarge_font_size * $font_xs_pct;
$large_font_size_xs: 		$large_font_size * $font_xs_pct;
$medium_font_size_xs:		$medium_font_size * $font_xs_pct;
$small_font_size_xs: 		$small_font_size * $font_xs_pct;
$xsmall_font_size_xs: 	$xsmall_font_size * $font_xs_pct;

/**Menu Font Size**/
$menu_font_size: 16px;
$menu_font_size_md: $menu_font_size * $font_md_pct;
$menu_font_size_sm: $menu_font_size * $font_sm_pct;

$line_height_lg: 1.8;
$line_height: 1.4;
$line_height_a: 1.2;

$h2_margin_bottom: 20px;

body {
  font-family: $open_sans;
  font-size: 16px;
  line-height: $line_height;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $open_sans;
  font-weight: bold;	
}
h1 {
	font-size: $xlarge_font_size_xs;	
	font-weight: 300;
	line-height: $line_height;
	color: $orange_red;
  @media screen and (min-width: $screen-sm) {
		font-size: $xlarge_font_size_sm;	
  }
  @media screen and (min-width: $screen-md) {
		font-size: $xlarge_font_size_md;	
  }      
  @media screen and (min-width: $screen-lg) {
		font-size: $xlarge_font_size_lg;	
  }
}
h2 {
  letter-spacing: -2px;
}
h3 {
	color: $medium_dark_blue;
	font-weight: normal;
}