/**
*	Banner Block
**/
.view-id-custom_content {
	&.view-display-id-block_1 {
		.views-row {
			position: relative;
			.views-field-title {
		    position: absolute;
		    bottom: 0px;
		    left: 0px;
		    padding: 20px;
		    text-align: left;
		    background: url("img/background/banner_overlay_bg.png") repeat center center transparent ;
		    width: 100%;
		    color: $white;
		    font-size: $xlarge_font_size_xs;
		    font-weight: 300;
		    .field-content {
		    	display: block;
		    	@extend .container;
		    }
			}
			.views-field-field-page-banner-image {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		@media screen and (min-width: $screen-sm) {
			.views-row {
				.views-field-title {
					font-size: $xlarge_font_size_sm;
				}
			}
		}
		@media screen and (min-width: $screen-md) {
			.views-row {
				.views-field-title {
					font-size: $xlarge_font_size_md;
				}
			}
		}      
		@media screen and (min-width: $screen-lg) {
			.views-row {
				.views-field-title {
					font-size: $xlarge_font_size_lg;
				}
			}
		}		
	}
	&.view-display-id-block_4 {
    .views-row {
      margin-bottom: 20px;
      border-bottom: 3px dotted $grey;
      padding-bottom: 20px;
      .field-content {
        > img {
          width: 100%;
          height: auto;
        }
        > a {
          color: #262626;
          font-size: $small_font_size;
          font-weight: 500;
          text-transform: uppercase;
        }
        padding-bottom: 20px;
      }
    }		
	}
}

/**
*		Team Member Block
**/

.view-the-board-of-directors {


	/** Our Team Page***/
	&.view-display-id-block_1 {
		.view-header {
			.board-of-directors-header {
				p {
		  		font-size: $medium_font_size_xs;
		  		font-weight: bold;
					color: $content-grey;
					line-height: 1.4;
				}
			}
		}
		.view-content {
			@extend .row;
			margin-bottom: 15px;
			.views-row {
				@extend .col-sm-4;
				text-align: center;
				margin-top: 20px;
				.views-field {
					&.views-field-field-team-member-photo {
						img {
							margin: 0 auto;
						}
					}
					&.views-field-title {
						margin-top: 10px;
						a {
					    font-size: $small_font_size_xs;
					    font-weight: bold; 
					    color: $medium_dark_blue;
					    line-height: 1.2;
						}			
					}
					&.views-field-nothing {
						.job_title {
					    font-size: $xsmall_font_size_xs;
					    color: $content-grey;
					    line-height: 1.2;
					    max-width: 250px;
					    margin: 0 auto;
						}
						.linkedin-icon {
							width: 25px;
							height: 25px;
							background: url(img/list-icon/linkedin-icon.png) no-repeat center center transparent;
							display: block;
							margin: 5px auto 0px;
							> span {
								display: none;
							}
						}
					}
				}
			}
		}

		@media screen and (min-width: $screen-sm) {
			.view-header {
				.board-of-directors-header {
					p {
			  		font-size: $medium_font_size_sm;
					}
				}
			}
			.view-content {
				.views-row {
					text-align: left;
					.views-field {
						&.views-field-field-team-member-photo {
							img {
								margin: 0px;
							}
						}
						&.views-field-title {
							margin-top: 5px;
							a {
						    font-size: $small_font_size_sm;
							}
						}
						&.views-field-nothing {
							height: 100px;
							overflow: hidden;
							.job_title {
						    font-size: $xsmall_font_size_sm;
							}
							.linkedin-icon {
						    margin: 5px 0 0;
							}
						}
					}
				}
			}
		}
		@media screen and (min-width: $screen-md) {
			.view-header {
				.board-of-directors-header {
					p {
			  		font-size: $medium_font_size_md;
					}
				}
			}
			.view-content {
				.views-row {
					.views-field {
						&.views-field-title {
							a {
						    font-size: $small_font_size_md;
							}			
						}
						&.views-field-nothing {
							.job_title {
						    font-size: $xsmall_font_size_md;
							}
						}
					}
				}
			}
		}      
		@media screen and (min-width: $screen-lg) {
			.view-header {
				.board-of-directors-header {
					p {
			  		font-size: $medium_font_size_lg;
					}
				}
			}
			.view-content {
				.views-row {
					.views-field {
						&.views-field-title {
							a {
						    font-size: $small_font_size_lg;
							}			
						}
						&.views-field-nothing {
							height: 120px;
							overflow: hidden;
							width: 75%;
							.job_title {
						    font-size: $xsmall_font_size_lg;
							}
						}
					}
				}
			}
		}
	}
	/** Our Team Block - Home page***/
	&.view-display-id-block {
		@extend .view-display-id-block_1;
		.view-header {
		}
		.view-content {
			.views-row {
				text-align: center;
				.views-field-field-team-member-photo img {
					margin: 0 auto !important;
				}
				.views-field-nothing {
					margin: 0 auto;
					.linkedin-icon {
						margin: 5px auto 0 !important;
					}
				}
			}
		}
	}
	
}

/**
*	Solution Page
**/
.view-id-solutions {
	&.view-display-id-page {
		.view-content {
			@extend .row;
			position: relative;
				.custom-navigator {
					@extend .col-md-2;
					@extend .hidden-xs;
					@extend .hidden-sm;
					@extend .hidden-md;
					position: absolute;
					top: 0px;
					left: 0px;
					z-index: 99;
					ul {
						padding: 20px 10px;
						li {
							a {
								font-size: $xsmall_font_size;
								color: $header_black;
								text-transform: uppercase;
								font-weight: bolder;
								&:focus {
									background: none;
								}
								&:hover {
									background: none;
									color: $orange_red;
								}
							}
							&.active {
								a {
									color: $orange_red;
								}
							}
						}
					}
					&.affix {
						position: fixed;
						top: 0px;
						padding-top: 50px;
						padding-bottom: 50px;
						background: url("img/background/white_transparent_bg.png") repeat center center transparent;
						height: 100%;
					}
				}
				.custom-view-content {
					@extend .col-sm-12;
					.views-row {

					}
				}
		}
	}	
}

/**
*		Services Page
**/
.view-id-services {
	&.view-display-id-page {
		@extend .view-id-solutions.view-display-id-page;
	}
}

/**
*		Partners Page
**/
.view-id-partners {
	&.view-display-id-page {
		.view-header {
			margin-bottom: 40px;
			h1 {
				color: $orange_red;
			}
			p {
				font-size: $small_font_size;
				font-weight: normal;
				line-height: $small_font_size * 2;
				color: #404041;
			}
		}
		.view-content {	
			.views-row {
				@extend .row;
				margin: 30px 0 0;
				border-top: 3px dotted $grey;
				padding-top: 30px;
				.views-field-field-logo-image {
					@extend .col-sm-3;				
				}
				.views-field-nothing {
					@extend .col-sm-9;
					.custom-title {
						margin-bottom: 10px;
					}
					p {
						font-size: $small_font_size;
						font-weight: normal;
						line-height: $small_font_size * 2;
						color: #404041;
					}
				}
			}
		}
	}
}






